@page {
  size: a4 portrait;
  margin: 10mm;
}

header,
footer,
div#site-footer {
  display: none !important;
  height: 0;
  width: 0;

  &::after {
    content: none;
    clear: none;
    display: none;
  }
}
