// Header styles

nav#site-navigation {
  display: block;
  position: relative;
  z-index: 1000000;
  padding: 0 0 15px 0;
  margin: 0;

  div#menu {
    background: $black;

    @include header-shadow(3);

    padding: 0 15px;
    margin: 0;

    &::after {
      content: "";
      clear: both;
      display: table;
    }
  }

  span.site-title {
    display: block;
    height: 35px;
    float: left;
    clear: left;

    @include md-up {
      width: 33%;
    }

    box-sizing: border-box;
    margin: 10px 0;
    line-height: 35px;
    vertical-align: middle;

    a {
      display: inline-block;
      color: $white;
      font-size: $font-size-base;

      @include md-up {
        font-size: $font-size-base + 4px;
      }

      font-weight: bold;
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;
        -webkit-text-decoration-color: $white;
        text-decoration-color: $white;
      }
    }
  }

  span.menu-button {
    position: relative;
    display: block;
    float: right;
    padding: 15px 0;
    margin: 0;
    text-align: right;

    button#menu-toggle {
      position: relative;
      display: block;
      height: 25px;
      width: 30px;
      margin: 0;
      margin-left: auto;
      padding: 0;
      background: none;
      border: none;
      font-size: $font-size-base;
      font-weight: bold;
      line-height: $font-line-height;
      text-decoration: none;

      span.bar {
        position: absolute;
        display: block;
        height: 5px;
        width: 30px;
        margin-left: auto;
        margin-right: 0;
        left: 0;
        background: $white;

        &:nth-of-type(1) {
          top: 0;
        }

        &:nth-of-type(2) {
          top: 10px;
        }

        &:nth-of-type(3) {
          top: 20px;
        }

        transition: all 0.5s ease;
      }

      &:hover,
      &:focus {
        span.bar {
          transition: all 0.5s ease;
        }
      }

      &.open {
        span.bar {
          &:nth-of-type(1) {
            transform: rotate(45deg) translate(5px, 8px);
          }

          &:nth-of-type(2) {
            opacity: 0;
          }

          &:nth-of-type(3) {
            transform: rotate(-45deg) translate(6px, -9px);
          }
        }
      }
    }

    @include md-up {
      display: none;
    }
  }

  ul {
    display: block;
    width: 100%;

    @include md-up {
      width: 67%;
      float: right;
      clear: none;
    }

    &.closed {
      display: none;

      @include md-up {
        display: block;
      }
    }

    list-style: none;
    padding: 55px 0 0 0;

    @include md-up {
      padding: 0;
    }

    margin: 0;

    @include md-up {
      display: block;
      text-align: right;
    }

    li {
      display: block;
      padding: 15px 0;

      @include md-up {
        display: inline-block;
        padding: 17px 0 17px 20px;
      }

      margin: 0;

      &:last-child {
        padding-right: 0;
      }

      a {
        font-size: $font-size-base - 2px;
        font-weight: bold;
        color: $white;
      }

      &.active a {
        color: $cyan;
      }
    }
  }
}
