// Loop page styles

main#loop,
main#admin {
  &::after {
    content: "";
    clear: both;
    display: table;

    @supports (display: grid) {
      content: none;
      clear: none;
      display: none;
    }
  }

  @supports (display: grid) {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "page-title"
      "page-lead-paragraph"
      "page-content"
      "page-share";

    @include md-up {
      grid-template-rows: auto auto auto;
      grid-template-columns: 2fr 1fr;
      grid-column-gap: 30px;
      grid-template-areas:
        "page-title page-title"
        "page-lead-paragraph ."
        "page-content page-share";
    }
  }

  div#page-title {
    @supports (display: grid) {
      grid-area: page-title;
    }

    margin-top: 45px;
    margin-bottom: 45px;

    h1.page-title {
      @include md-up {
        font-size: $heading1-font-size-base * 2;
      }
    }
  }

  div#page-lead-paragraph {
    @supports (display: grid) {
      grid-area: page-lead-paragraph;
    }

    margin-bottom: 45px;

    p {
      font-size: $font-size-base + 5px;
    }
  }

  div#page-content {
    width: 100%;

    @include md-up {
      width: 67%;
      float: left;
      clear: left;
    }

    @supports (display: grid) {
      grid-area: page-content;
      width: 100%;
      float: none;
      clear: none;
    }

    margin-bottom: 45px;
    padding-top: 5px;
    border-top: 2px solid $light-gray;

    h2.loop-subheading {
      padding-top: 30px;

      &:nth-of-type(n+2) {
        margin-top: 45px;
        border-top: 2px solid $light-gray;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      padding-bottom: 30px;
      margin: 0;

      li {
        padding: 0;
        margin: 0;
        border-bottom: 1px solid $light-gray;

        &:last-child {
          border: none;
        }

        article {
          padding-bottom: 15px;

          h2 {
            @extend h4;

            padding-top: 15px;
            padding-bottom: 0;
          }

          p {
            font-size: $font-size-base - 2px;
            margin: 5px 0 0 0;

            &.post-metadata {
              font-size: $font-size-base - 4px;
              color: $dark-gray;
            }
          }
        }
      }
    }

    &.loop-consultations {
      padding-top: 0;
    }
  }

  div#page-share {
    width: 100%;

    @include md-up {
      width: calc(33% - 30px);
      float: left;
      clear: none;
      margin-left: 30px;
    }

    @supports (display: grid) {
      grid-area: page-share;
      width: 100%;
      float: none;
      clear: none;
      margin-left: 0;
    }

    margin-bottom: 45px;
    padding-top: 15px;
    border-top: 2px solid $brand-primary;

    h2.page-share-title {
      font-size: $font-size-base + 3px;
      font-weight: bold;
      padding: 0 0 15px 0;

      &:nth-of-type(n+2) {
        border-top: 2px solid $brand-primary;
        margin-top: 45px;
        padding-top: 15px;
      }
    }

    p {
      font-size: $font-size-base - 4px;
    }
  }
}
