---
layout: page
title: 'Leadership team'
excerpt: 'We are a volunteer-led network, made up of members from across the UK.'
permalink: /about/our-team/leadership/
published: true
---

<table>

{% for volunteer in site.data.team %}{% if volunteer.SubTeam == "Leadership" %}

<tr>
	<td>
		{% if volunteer.Picture %}<img src="{{ site.url | append: site.baseurl | append: volunteer.Picture }}">{% endif %}
	</td>
	<td>
		<h2>
			{% if volunteer.Email %}<a href="{{ volunteer.Email | prepend: "mailto:" }}">{{ volunteer.Name }}</a>{% else %}{{ volunteer.Name }}{% endif %}</h2>

			<p>{{ volunteer.Bio }}</p>
	</td>
</tr>

{% endif %}{% endfor %}

</table>
