<?xml version="1.0" encoding="utf-8"?>

<feed xmlns="http://www.w3.org/2005/Atom" >
	<generator uri="https://jekyllrb.com/" version="4.2.0">Jekyll</generator>
	<link href="www.civilservice.lgbt/feeds/events.xml" rel="self" type="application/atom+xml" />
	<link href="www.civilservice.lgbt/" rel="alternate" type="text/html" />
	<pubDate>Thu, 08 Apr 2021 08:18:52 +0000</pubDate>
	<updated>2021-04-08T20:18:52+00:00</updated>
	<id>www.civilservice.lgbt/</id>

	
		<title type="html">Civil Service LGBT+ Network</title>
	

	
		<subtitle>The Civil Service LGBT+ Network helps to create a more diverse, inclusive and equal place to work for lesbian, gay, bisexual and trans civil servants.</subtitle>
	

	
		<author>
		    	<name>Civil Service LGBT+ Network</name>
		    
		    
		</author>
	
	
	
	



	
	

	
	

	
	

	
	

	
	

	
	

	
	

	
	

	
	

	
	

	
	

	
	

	
	

	
	

	
	

	
	

	
	

	
	

	
	

	
	

	
	

	
	

	
	

	
	

	
	

	
	

	
	

	
	

	
	

	
	

	
	

	
	
	
	<entry>
		<title type="html">PrEP, HIV Prevention and Sexual Health</title>
		<link href="www.civilservice.lgbt/event/2021-04-16-prep/" rel="alternate" type="text/html" title="PrEP, HIV Prevention and Sexual Health" />
		<published>2021-04-08T20:18:52+00:00</published>
		<updated>2021-04-08T20:18:52+00:00</updated>
		<id>www.civilservice.lgbt/event/2021/04/16/prep</id>
		<content type="html" xml:base="www.civilservice.lgbt/event/2021-04-16-prep/">&lt;p&gt;The CSLGBT+ Network and the CS Race Forum are excited to be collaborating with 56 Dean Street, to bring you this educational and informational session on PrEP, HIV prevention and sexual health.&lt;/p&gt;

&lt;p&gt;Opened in 2009 and nestled among the shops, bars and gay clubs of London’s bustling Soho district lies 56 Dean Street, Europe’s largest sexual health clinic. The clinic provides advice and treatment for a range of sexually transmitted infections but it’s become renowned for its ground breaking work preventing the spread of HIV.&lt;/p&gt;

&lt;p&gt;Our professional sexual health expert will be discussing sexual and reproductive health services, PrEP, access, support and the impact of Covid-19 on sexual health services across the country.&lt;/p&gt;

&lt;p&gt;56 Dean Street want to empower people to manage their own (sex) lives and wellbeing. They have a deep understanding of factors around LGBTQI+ lifestyle, psyscho-sexual issues, the impact of wider society, discrimination and drug taking. This makes their approach truly unique.&lt;/p&gt;

&lt;p&gt;They never make a judgement on anybody’s sex life or situation, everyone is welcome!&lt;/p&gt;

&lt;h4 id=&quot;this-session-is-for-civil-servants-only&quot;&gt;This session is for Civil Servants only.&lt;/h4&gt;

&lt;p&gt;A friendly reminder to please only register for this event using your work email. In most instances this should end in GOV.UK. We are aware that some areas of the Civil Service do not use GOV.UK emails, if this is the case, please let us know when registering.&lt;/p&gt;

&lt;p&gt;If you use a personal email and we can not verify you are a civil servant, you will not be sent joining instructions to the event. If your work device does not support the systems we are using, we suggest forwarding the details to your personal device or using the dial in options.&lt;/p&gt;

&lt;blockquote&gt;
  &lt;p&gt;Is your department or network hosting a digital event? Let us know and we can share it on our website.&lt;/p&gt;
&lt;/blockquote&gt;</content>
	
			
			
			
			
			
	
			<author>
				<name>Civil Service LGBT+ Network</name>
				
				
			</author>
	
			<category term="event" />
	
			
			
			
			
			
			<summary type="html">The CSLGBT+ Network and the CS Race Forum are excited to be collaborating with 56 Dean Street, to bring you this educational and informational session on PrEP, HIV prevention and sexual health.</summary>
			
	
			
			
	</entry>
	
	

	
	
	
	<entry>
		<title type="html">BiSpace Allyship</title>
		<link href="www.civilservice.lgbt/event/2021-04-22-bispace/" rel="alternate" type="text/html" title="BiSpace Allyship" />
		<published>2021-04-08T20:18:52+00:00</published>
		<updated>2021-04-08T20:18:52+00:00</updated>
		<id>www.civilservice.lgbt/event/2021/04/22/bispace</id>
		<content type="html" xml:base="www.civilservice.lgbt/event/2021-04-22-bispace/">&lt;p&gt;Discussions around allyship often focus on the wider LGBT+ community, with the needs and problems faced by bi+ people sometimes overlooked. Our panel discussion will explore how allies from both within and outside the LGBT+ community have supported bi+ people, and where there is room to do more.&lt;/p&gt;

&lt;p&gt;The event will be held with a panel discussion, followed by participants being split into virtual breakout rooms to discuss what bi+ allyship means to them (there is no obligation to for anyone to speak or switch their video on if they do not wish to), with the panel closing the event.&lt;/p&gt;

&lt;p&gt;The event will be hosted on Zoom. If you have any questions please contact Alan.Edwards@dhsc.gov.uk.&lt;/p&gt;

&lt;h4 id=&quot;this-session-is-for-civil-servants-only&quot;&gt;This session is for Civil Servants only.&lt;/h4&gt;

&lt;p&gt;A friendly reminder to please only register for this event using your work email. In most instances this should end in GOV.UK. We are aware that some areas of the Civil Service do not use GOV.UK emails, if this is the case, please let us know when registering.&lt;/p&gt;

&lt;p&gt;If you use a personal email and we can not verify you are a civil servant, you will not be sent joining instructions to the event. If your work device does not support the systems we are using, we suggest forwarding the details to your personal device or using the dial in options.&lt;/p&gt;

&lt;blockquote&gt;
  &lt;p&gt;Is your department or network hosting a digital event? Let us know and we can share it on our website.&lt;/p&gt;
&lt;/blockquote&gt;</content>
	
			
			
			
			
			
	
			<author>
				<name>Civil Service LGBT+ Network</name>
				
				
			</author>
	
			<category term="event" />
	
			
			
			
			
			
			<summary type="html">Join us for a panel discussion on the value and impact of allies for bi+ people.</summary>
			
	
			
			
	</entry>
	
	

	
</feed>