<html lang="en">
	
	{% include head.html %}

	<body class="{{ page.layout }}{% if page.preview == true %} preview{% endif %}{% for banner in site.data.global-banner %}{% assign today-date = site.time | date: "%Y-%m-%d" %}{% assign end-date = banner.end-date | date: "%Y-%m-%d" %}{% if banner.show == true and today-date < end-date %} global-banner{% endif %}{% endfor %}">
		
		<div class="wrapper">
		
		{% if site.home-splash-h1 %}
		{% include skiplink.html %}
		{{ content }}
		{% else %}
		{% include error/set-up.html %}
		{% endif %}
		
		</div>
		
	</body>
	
</html>
