<section id="posts-topics">
 <h1 class="section-title"><a href="{{ site.url | append: site.baseurl | append: '/topics/' }}" title="Go to the topics page">Explore topics</a></h1>
  {% assign topics = site.topics | sort: "date" | reverse %}
   <ul>
    {% for topic in topics %}
     <li>
      <article>
       <h2>
        <a href="{{ site.url | append: site.baseurl | append: topic.url }}" title="Find out more about {{ topic.title }}">
         {{ topic.title }}
	</a>
        <p class="post-metadata">{% if topic.excerpt %}{{ topic.excerpt }}{% endif %}</p>
       </h2>
      </article>
     </li>
    {% endfor %}
   </ul>
</section>
